mixin btn
    .container
        .phone.pulse.animated.infinite
            i.fas.fa-phone.shake.animated.infinite               
        .card
            .card__front
                img(src="./img/unnamed.jpg", alt="")
            .card__back 
                img(src="./img/unnamed.gif", alt="")