.phone {
  position: relative;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  background: #cf1414;
  border-radius: 50%;
}
.fas {
  position: absolute;
  top: 35%;
  left: 35%;
  font-size: 48px;
}
.shake {
  animation-play-state: paused;
}
.shake:hover {
  animation-play-state: running;
}
.card {
  margin-top: 100px;
  position: relative;
  width: 170px;
  height: 270px;
  color: white;
  }
  .card__front{
  z-index: 1;
  position: relative;
  height: 270px;
  width: 170px;
  text-align: center;
  backface-visibility: hidden;
  transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
  }
  .card__back{
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 170px;
  height: 270px;
  text-align: center;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: transform .3s cubic-bezier(.2,.85,.4,1.275);
  }
  .card:hover .card__back {
  transform: rotateY(0deg);
  z-index: 2;
  }
  .card:hover .card__front {
  transform: rotateY(180deg);
  z-index: -1;
  }